*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start utilities */
:root{
    --primary: #ff6801;
    --red: #fe0100;
    --green: #018001;
    --dark: #1b1b1a;
    --font-family-nav: 'Montserrat SemiBold', sans-serif;
    --font-size-nav: 1rem;
    --font-family-item: 'Montserrat SemiBold', sans-serif;
    --font-size-item: 1rem;
    --font-family-brand: 'Montserrat Medium', sans-serif;
    --font-size-brand: .875rem;
    --font-family-price: 'Montserrat Medium', sans-serif;
    --font-size-price: .875rem;
    --font-family-discount: 'Montserrat Semibold', sans-serif;
    --font-size-discount: .875rem;
    --font-family-label: 'Montserrat Semibold', sans-serif;
    --font-size-label: .75rem;
    --font-family-site-name: 'Montserrat SemiBold', sans-serif;
    --font-size-site-name: 1.125rem;
    --font-family-social: 'Montserrat SemiBold', sans-serif;
    --font-size-social: .875rem;
    --font-family-privacy: 'Montserrat Regular', sans-serif;
    --font-size-privacy: .875rem;
}

.flex{
    display: flex;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    height: 70px;
    background-color: var(--primary);
    box-shadow: 0 0 3px var(--dark);
}

.col-2{
    width: calc(100% / 12 * 2);
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.container{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
}

footer{
    height: 70px;
    background-color: var(--dark);
    margin-top: 60px;
}
/* End utilities */

/* Start Header */
header > .flex{
    line-height: 70px;
}

header a{
    color: white;
}

nav > a{
    font-family: var(--font-family-nav);
    font-size: var(--font-size-nav);
    margin: 0 0.25rem;
}

nav > a:first-of-type{
    margin-left: 0;
}

header .col-8{
    text-align: center;
}

header img{
    height: 30px;
    vertical-align: middle;
}

header .col-2:last-of-type{
    text-align: right;
}

header i{
    margin: 0 0.2rem;
}

header i:last-of-type{
    margin-right: 0;
}
/* End Header */

/* Start Main */
.row{
    gap: 20px;
    margin-top: 60px;
}

main img{
    width: 100%;
}

.hover-img{
    display: none;
    position: absolute;
}

.first-img:hover + .hover-img{
    display: block;
    top: 0;
    left: 0;
}

.item-img{
    position: relative;
}

.heart{
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: white;
    text-align: center;
    line-height: 2rem;
    color: black;
}

.heart:hover{
    color: var(--red);
}

.brand{
    font-family: var(--font-family-brand);
    font-size: var(--font-size-brand);
    color: black;
}

.item{
    font-family: var(--font-family-item);
    font-size: var(--font-size-item);
    color: black;
}

.discount{
    font-family: var(--font-family-discount);
    font-size: var(--font-size-discount);
    color: var(--red);
}

.price{
    font-family: var(--font-family-price);
    font-size: var(--font-size-price);
    color: black;
    text-decoration: line-through;
}

.label{
    position: absolute;
    bottom: 2rem;
    font-family: var(--font-family-label);
    font-size: var(--font-size-label);
    color: white;
}

.label > span{
    padding: 0.25rem;
}

.red{
    background-color: var(--red);
    margin-right: 0.25rem;
}

.green{
    background-color: var(--green);
}